{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4 class="text-center mb-4">Login</h4>

                <form method="post" action="/login">
                    <input class="form-control mb-3" name="email" placeholder="Email" required>

                    <input type="password" class="form-control mb-3" name="password" placeholder="Password" required>

                    <button class="btn btn-dark w-100">Login</button>
                </form>

                <!-- Create Account moved below -->
                <div class="text-center mt-3">
                    <small>
                        Don’t have an account?
                        <a href="/signup" class="text-decoration-none">Create Account</a>
                    </small>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}